{% extends 'base.html' %}

{% load static %}

{% block title %}Sell My Car{% endblock %}



{% block body %}

<h2 style="text-align: center;"><b>DISCLAIMER</b></h2>
<p>Last updated: 2024/10/17</p>
<p><b>WEBSITE DISCLAIMER</b></p>
<p> This is My personal project for ALX And its a viion for the future </p>
<p><b>CONTACT US</b></p>
<p>Should you have any feedback, comments, requests for technical support or other inquiries, please contact us by email: <b>melhanbout@gmail.com</b>.</p>






{% endblock %}