{% extends 'base.html' %}

{% load static %}

{% block title %}Sell My Car{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}" type="text/css">
<style>
.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}
</style>

{% endblock %}

{% block body %}



<!--Page Header-->
<section class="page-header profile_page">
  <div class="container">
    <div class="page-header_wrap">
      <div class="page-heading">
        <h1>Post a Vehicle</h1>
      </div>
      <ul class="coustom-breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>Post a Vehicle</li>
      </ul>
    </div>
  </div>
  <!-- Dark Overlay-->
  <div class="dark-overlay"></div>
</section>
<!-- /Page Header--> 

<!--Post-vehicle-->
<section class="user_profile inner_pages">
  <div class="container">
  <!--
    <div class="user_profile_info gray-bg padding_4x4_40">
      <div class="upload_user_logo"> <img src="{% static 'assets/images/dealer-logo.jpg' %}" alt="image">
        
        <div class="upload_newlogo">
          <input name="upload" type="file">
        </div>
        
      </div>
      <div class="dealer_info">
        <h5>Post a Used Car </h5>
        
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="profile_nav">
          <ul>
            <li><a href="profile-settings.html">Change Password</a></li>
            <li><a href="my-vehicles.html">My Vehicles</a></li>
            <li class="active"><a href="post-vehicle.html">Post a Vehicles</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="profile_wrap">
          <h5 class="uppercase underline">Post a New Vehicle</h5>
          <form action="/post-vehicle.html" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group required">
              <label class="control-label">Vehicles Title</label>
              <input class="form-control white_bg" id="car_title" name="car_title" type="text" placeholder="ex. Suzuki Swift 2006 VXI Model" required>
            </div>
            <div class="form-group required">
              <label class="control-label">Make Year</label>
              <input class="form-control white_bg" id="make_year"  name="make_year" type="text" required onkeypress="return isNumber(event)" onpaste="return false;">
            </div>
            <div class="form-group">
              <label class="control-label">Make Month</label>
              <input class="form-control white_bg" id="make_month" name="make_month" type="text">
            </div>
            <div class="form-group required">
              <label class="control-label">Vehicle Manufacturer</label>
              <input class="form-control white_bg" id="car_manufacturer"  name="car_manufacturer" type="text" required placeholder="ex. suzuki, tata, mahindra">
            </div>
            <div class="form-group required">
              <label class="control-label">Vehicle Model</label>
              <input class="form-control white_bg" id="car_model" name="car_model" type="text" required>
            </div>
            <div class="form-group">
              <label class="control-label">Vehicle Version</label>
              <input class="form-control white_bg" id="car_version" name="car_version" type="text">
            </div>
            <div class="form-group">
              <label class="control-label">Vehicle Colour</label>
              <input class="form-control white_bg" id="car_color" name="car_color" type="text" >
            </div>
            <div class="form-group">
              <label class="control-label">Select Fuel Type</label>
              <div class="select">
                <select class="form-control white_bg" name="fuel_type">
                  <option>Petrol</option>
                  <option>Diesel</option>
                  <option>LPG</option>
                  <option>CNG</option>
                  <option>Electric</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Select Transmission Type</label>
              <div class="select">
                <select class="form-control white_bg" name="transmission_type">
                  <option>Manual</option>
                  <option>Automatic</option>

                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Select Vehicle Owner</label>
              <div class="select">
                <select class="form-control white_bg" name="car_owner">
                  <option>First Owner</option>
                  <option>Second Owner</option>
                  <option>Third Owner</option>
                  <option>Fourth Owner or More</option>
                  
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Kilometer Driven</label>
              <input class="form-control white_bg" id="kilometer_driven" name="kilometer_driven" type="text" >
            </div>
            <div class="form-group required">
              <label class="control-label">Expected Selling Price(MAD)</label>
              <input class="form-control white_bg" id="expected_selling_price" name="expected_selling_price" type="text" required="required" onkeypress="return isNumber(event)" onpaste="return false;">
            </div>
            <div class="form-group">
              <label class="control-label">Registration Type</label>
              <div class="select">
                <select class="form-control white_bg" name="registration_type">
                  <option>Individual</option>
                  <option>Corporate</option>
                  <option>Taxi</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Insurance Type</label>
              <div class="select">
                <select class="form-control white_bg" name="insurance_type">
                  <option>Expired</option>
                  <option>Comprehensive</option>
                  <option>Third Party</option>
                  
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Registration Number</label>
              <input class="form-control white_bg" id="registration_number" name="registration_number" type="text" placeholder="RJ20 CD XXXX" >
            </div>
            <div class="form-group">
              <label class="control-label">Vehicle Overview  Description</label>
              <textarea class="form-control white_bg" name="car_description" rows="4" ></textarea>
            </div>

            <div class="form-group required">
              <label for="file-upload" class="control-label">Upload Images  ( size = 900 x 560 )</label>
              <br>
              <label for="file-upload" class="custom-file-upload"></label>
              <div class="vehicle_images">
                <div class="upload_more_img">
                  <input id="file-upload" type="file" name="car_photo" accept="image/gif, image/jpeg, image/png" multiple class="form-control-file" required="required">
                </div>
              </div>
            </div>
            <div class="form-group required">
              <label class="control-label">Vehicle Type</label>
              <div class="select" >
                <select class="form-control white_bg" name="vehicle_type">
                  
                  <option>Car</option>
                  <option>Bike</option>
                  <option>Truck</option>
                  <option>Tractor</option>
                  <option>Auto Rikshaw</option>
                  <option>Agriculture Instrument</option>
                </select>
              </div>
            </div>

            <!-- Save Personal Details-->
            <div class="gray-bg field-title">
              <h6> Personal Details</h6>
            </div>
            <label class="control-label"> *Some of your contact details provided to interested buyers so that they can connect with you.</label>
            <div class="form-group required">
              <label class="control-label">Full Name</label>
              <input class="form-control white_bg" id="facebook" name="car_owner_name" type="text" required>
            </div>
            <div class="form-group required">
              <label class="control-label">City Name</label>
              
              <div class="select" >
                <select class="form-control white_bg" name="car_city">
                  
                  <option>Agadir</option>
                  <option>Agadir-Ida Ou Tanane</option>
                  <option>Al Hoceima</option>
                  <option>Ait Melloul</option>
                  <option>Azrou</option>
                  <option>Bab Taza</option>
                  <option>Beni Mellal</option>
                  <option>Boujad</option>
                  <option>Casablanca</option>
                  <option>Chefchaouen</option>
                  <option>El Jadida</option>
                  <option>Essaouira</option>
                  <option>Fès</option>
                  <option>Ifrane</option>
                  <option>Kenitra</option>
                  <option>Khouribga</option>
                  <option>Laâyoune</option>
                  <option>Larache</option>
                  <option>Marrakech</option>
                  <option>Meknès</option>
                  <option>Mohammedia</option>
                  <option>Nador</option>
                  <option>Oujda</option>
                  <option>Rabat</option>
                  <option>Safi</option>
                  <option>Sale</option>
                  <option>Settat</option>
                  <option>Tanger</option>
                  <option>Tétouan</option>
                  <option>Taza</option>
                  <option>Taroudannt</option>
                  <option>Ouarzazate</option>
                  <option>Tiflet</option>
                  <option>Titouan</option>
                  <option>Khemisset</option>
                  <option>Youssoufia</option>
                  <option>Zagora</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group select">
                <select class="form-control" name="vehicle_type">
                  <option>Select Vehicle Type</option>
                  <option>Car</option>
                  <option>Bike</option>
                  <option>Truck</option>
                  <option>Tractor</option>
                  <option>Auto Rikshaw</option>
                  <option>Agriculture Instrument</option>
                </select>
              </div>

              <div class="form-group">
                  <label class="form-label">Price Range (MAD)</label>
                  <input id="price_range1" name= "slider" data-slider-id='ex1Slider' type="text" class="span2" value="" data-slider-min="0" data-slider-max="2000000" data-slider-step="100000" data-slider-value="[100000,1200000]" tooltip="always"/>
                  
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search Car</button>
              </div>
            </form>
          </div>
        </div>
	   </div>
        <div class="result-sorting-wrapper">
          <div class="sorting-count">
            <p>1 - 8 <span>of {{total_vehicles}} Vehicles</span></p>
          </div>
          
          <div class="result-sorting-by">
            
              <p>Sort by:</p>
            <form action="/sort.html" method="get">
              <div class="form-group select sorting-select">
                
                <select class="form-control" name="sort" onchange="this.form.submit()">
                
                  <option>Price (low to high)</option>
                  <option>Price (high to low)</option>
                
                </select>
                
              </div>
            </form>
            
          </div>
        </div>
        

        {% for car in allcars%}
        {% if forloop.counter < 9 %}  
        <div class="product-listing-m gray-bg">
          <div class="product-listing-img"> <a href="/listing-detail.html/{{car.id}}/"><img src="{{car.car_photo.url}}" class="img-fluid" alt="Image" /> </a>
            
          {% load humanize %}   
          </div>
          <div class="product-listing-content">
            <h5><a href="/listing-detail.html/{{car.id}}">{{car.car_title|title}}</a></h5>
            <p class="list-price">MAD {{car.expected_selling_price | intcomma }}</p>
            <ul>
              <li><i class="fa fa-road" aria-hidden="true"></i>{{car.kilometer_driven  | intcomma }} km</li>
              <li><i class="fa fa-paint-brush" aria-hidden="true"></i>{{car.car_color|title}}</li>
              <li><i class="fa fa-location-arrow" aria-hidden="true"></i> {{car.car_city|title}}</li>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>{{car.make_year}} model</li>
              <li><i class="fa fa-shower" aria-hidden="true"></i>{{car.fuel_type|title}}</li>
              <li><i class="fa fa-car" aria-hidden="true"></i>{{car.car_manufacturer|title}} {{car.car_model|title}}</li>
            </ul>
            <a href="/listing-detail.html/{{car.id}}/" class="btn">Get Seller Details <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
            
          </div>
        </div>
        {% endif %}
        {% endfor %}


        <div class="pagination">
          <ul>
          {% for num in allcars.paginator.page_range %}
          {% if num == allcars.number %}
          
          <li class="current">{{ num }}</li>
          {% else %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %} 
          {% endfor %}

          </ul>
          
        </div>
      </div>
      
      <!--Side-Bar-->
      <aside class="col-md-3 col-md-pull-9">
        <div class="sidebar_widget sidebar_search_wrap">
          <div class="widget_heading">
            <h5><i class="fa fa-filter" aria-hidden="true"></i> Find Your Dream Car </h5>
          </div>
          <div class="sidebar_filter">
            <form action="/search" method="get">
              <div class="form-group select">
                <select class="form-control" name="city">
                  <option>Select Location</option>
                  <option>Agadir</option>
                  <option>Agadir-Ida Ou Tanane</option>
                  <option>Al Hoceima</option>
                  <option>Ait Melloul</option>
                  <option>Azrou</option>
                  <option>Bab Taza</option>
                  <option>Beni Mellal</option>
                  <option>Boujad</option>
                  <option>Casablanca</option>
                  <option>Chefchaouen</option>
                  <option>El Jadida</option>
                  <option>Essaouira</option>
                  <option>Fès</option>
                  <option>Ifrane</option>
                  <option>Kenitra</option>
                  <option>Khouribga</option>
                  <option>Laâyoune</option>
                  <option>Larache</option>
                  <option>Marrakech</option>
                  <option>Meknès</option>
                  <option>Mohammedia</option>
                  <option>Nador</option>
                  <option>Oujda</option>
                  <option>Rabat</option>
                  <option>Safi</option>
                  <option>Sale</option>
                  <option>Settat</option>
                  <option>Tanger</option>
                  <option>Tétouan</option>
                  <option>Taza</option>
                  <option>Taroudannt</option>
                  <option>Ouarzazate</option>
                  <option>Tiflet</option>
                  <option>Titouan</option>
                  <option>Khemisset</option>
                  <option>Youssoufia</option>
                  <option>Zagora</option>
                  <option>Other</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Phone Number</label>
              <input class="form-control white_bg" id="linkedin" name="car_owner_phone_number" type="text" onkeypress="return isNumber(event)"> 
            </div>
            <div class="form-group">
              <label class="control-label" style="color:red;">"*"</label>
              <label class="control-label"> marked fields are neccessory.</label>
              <br>
              <div class="form-group">
                  
                  <label for="terms_agree">By submitting vehicle details, You also accepted the <a href="/privacy.html">Privacy and Policy Agreement</a></label>
                </div>
              
            </div>
            <div class="form-group">
              <button type="submit" class="btn">Submit Vehicle <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/Post-vehicle--> 

{% block scripts %}
{% comment %} <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> {% endcomment %}


    <script type="text/javascript">     
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ( (charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
      }
    </script>


    <script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-upload').html(fileName);
    });
</script>

{% endblock %}


{% endblock %}